<br><br>
<div align="center">
<h1>Form Validation</h1><br>
<form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)" >
<input type="text" name="firstname" formControlName="firstname" placeholder="FirstName"/><br>
<input type="text" name="lastname" formControlName="lastname" placeholder="LastName"/><br>
<select name="languages" formControlName="languages">
	<option>C++</option>
		<option>Java</option>
		<option>Angular</option>
	
</select>
<br>
<input type="submit" [disabled]="!form.valid" value="submit"><br>
</form>	
</div>