<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
</h1>
<br/>
<a routerLink="/member">Member</a><br/>
<a routerLink="/product">Product</a><br/>

<br/> -->
<!-- Display section of the link clicked -->
<!-- <router-outlet></router-outlet>

<br/> -->
<!--To Display the variable defined data binding-->
<!-- {{obj.name}}

<br/> -->
<!-- Selector of subcomponents-->

<!-- <app-members></app-members> -->

<!-- Iterating over the elments -->
<!-- <ul>
<li *ngFor = "let i of arr">{{i}}  </li>
</ul> -->

<!-- Displaying and hiding text based on value by using If
<p *ngIf = "isTrue">"Shiva is Great"</p>
<p *ngIf="myName=='Shiva'">My Name is Shiva</p>

<!-- Display using if else-->

<!-- <p *ngIf="isTrue == true; else firstTemp">hello</p>

<ng-template #firstTemp>This is Shiva.</ng-template>
 -->
<!-- Printing everything in a template than defaul if-then-else

<p *ngIf = "isTrue==true; then trueTemp else falseTemp"></p>

<ng-template #trueTemp> I am true</ng-template>
<ng-template #falseTemp> I am false</ng-template>

-->




<div class="main">
<h1> Item's List</h1>
	<div class="addItem">
	<input [(ngModel)]="newItem" placeholder="Add Your Item here" class="addText"/>
	<button (click) = "pushItem()">Add Item</button>
	</div>
		<ul *ngFor ="let i of item ; let ind = index">
			<li>
				{{i}}
				<span (click) = "popItem(ind)"> X</span>
			</li>
		</ul>		
</div>



<br>

<!--Using Pipes & Built In Pipes-->

<!-- <h5>{{myName}}</h5><span>Actual Text</span>
<br>
<h5>{{myName | uppercase}}</h5><span> After using filter to Upper Case</span>
<br>
<h5>{{myName | lowercase}}</h5><span> After using filter to Lower Case</span>



<br>

<h3>{{day}}</h3>

<br>

<h3>{{day | date}}</h3>
<br>

<h3>{{day | date : 'shortDate'}}</h3>
<br>
<h3>{{day | date : 'fullDate'}}</h3>
<br>
<h3>{{day | date : 'fullDate' | uppercase}}</h3>
 -->


 <!-- Custom Pipe -->

<h3>Sort using custom Pipe -> ascending</h3>
 {{arrs | sort:'ascending'}}
<br>
<h3>Sort using custom Pipe -> descending</h3>
{{ arrs | sort: 'descending'}}




























