.main{
	width:500px;
	margin: 0 auto;
	border:2px solid #d7d7d7;
	text-align: center;
	border-bottom: 0px;
	margin-top: 20px;
	font-family: sans-serif;
}

h1{
	text-align: center;
	background-color: #5c8297;
	padding: 30px 0px;
	margin-top: 0px;
	color: white; 
}

.addItem{
	position: relative;
	padding-bottom: 0;
	height: 30px;

}

.addText{
	width: 60%;
	height: 30px;
	padding: 5px;
	font-size: 20px;
}

.addItem button{
	height: 40px;
	width: 30%;
	padding: 5px;
}

ul{
list-style: none;
font-size: 20px;
color:#686868;
margin-left: -40px;
margin-bottom: 0px;
}

li{
	border-bottom: 1px solid #BFBFBF;
	background-color: #d7d7d7;
	padding: 10px 0px;
	margin-bottom: 5px;
}

span{
	cursor:pointer;
	position: relative;
	float: right;
	margin-right: 10px;
}

input[type='submit'] :disabled{
	background-color:#d5d6d6;
}

input[type='submit'] :hover{
	background-color: #b0dcff;
}